<!DOCTYPE html>
 <html lang="en">
 <head>
  <title>Complaint Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <style>
    .step {
      display: none;
   }
    .step.active {
      display: block;
    }
    #error-message1, #error-message2{
      position: absolute;
      color: red;
      font-size: large;
    }
    .link {
      top: -6px;
      margin-left: 0px;
      text-align: center;
      border: 1px solid #aaa !important;
      border-radius: 11%;
      width: 18px;
      height: 18px;
      font-size: 11px;
      line-height: 20px;
      cursor: default;
      position: relative;
      display: inline-block;
      color: #aaa;
    }

    label{
     color: #aaa;
      font-family: sans-serif;
     }

    input[type="text"],[type="number"]{
      padding: 25px;
    }
    .container {
      width: 100%;
      position: absolute;
      margin-left: 20px;
      margin-top: 1%;
    }
    .form-control {
      position: relative;
      vertical-align: top;
      background-color: #f8f8f8;
      padding: 25px;
    }
    h1 {
      position: absolute;
      margin-top: 5%;
    }
    textarea {
      min-height: 150px;
    } 
    .btn-danger{
      margin-left: 90%;
    }
    .add-company-label {
      color: #eb4654!important;
      border-bottom: 1px solid #d0021b;
      cursor: pointer;
      margin-left:75%;
    }

    .modal-header {
      background-color: #f44336;
      color: #fff;
    }
    .col-lg-5 {
      margin-top: 10%;
      margin-left: 5%;
   }
    .col-lg-6 {
      width: 37%;
      margin-top: 10%;
      margin-left: 30%;
    }
    #complaintEvidence::placeholder {
      color: red;
      width: 78%;
    }

    .step-wizard {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      gap: 6px;
    }

    .step-item { 
      width: 40px;
      height: 42px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background-color: #f8f8f8;
      cursor: pointer;
      margin-right: 10px;
    }

    .step-item {
      background-color: #333;
      color: #fff;
    }

    .step-item.enabled {
      background-color: #333;
      color: #fff;
    }

    .step-item.disabled {
      background-color: #ccc;
      color: #888;
    }

    .dropdown-menu>li>a {
      display: contents;
      padding: 3px 20px;
      clear: both;
      font-weight: 700;
      line-height: 2.428571;
      color:black;
      pointer-events: auto;
    }
    .dropdown-menu>.active>a {
      color: purple;
      pointer-events: none;
    }
    .checkbox input[type=checkbox]
    {
     margin-left: 0px;
    }
    .required-symbol{
          color: #d0021b;
          font-size: medium;
        }
   

  </style>
  </head>
  <body>  
    <form id="myForm" autocomplete="off">
    <input type="hidden" value="<%= user.id %>" name="id" id="id">
    <div class="container">
      <div class="step-wizard">
        <div class="step-item step1 enabled"> 1</div>
        <label style="margin-right: 40px; color:#333">Case details</label>
        <div class="step-item step2 disabled"> 2</div>
        <label style="margin-right: 40px; color:#333">Personal info</label>
      </div>
    <div class="step step1 active">
      <h1 style="text-align: left;">Case details</h1>  
      <div class="col-lg-5">
        <div class="form-group">
          <label for="title_of_complaint">Title of your complaint<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Keep title between 3-10 words. Do not include any phone numbers or address.">?</span>
          <input type="text" class="form-control" id="title_of_complaint" placeholder="For example: Package not delivered" value="<%= user.title_of_complaint %>" name="title_of_complaint" required>
        </div>
        <div class="form-group">
          <label for="choose_company">Choose Company/Brand:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Please choose/enter the company name against which you want to file a complaint.">?</span>
          <input type="text" class="form-control typeahead" id="choose_company" placeholder="Search company" value="<%= user.choose_company %>" name="choose_company" autocomplete="off" required >
          <label class="add-company-label" data-toggle="modal" data-target="#addCompanyModal">Add company</label>
        </div>
        <div class="form-group">
          <label for="total_amount">Total amount of loss from this incident:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Mention the total amount of loss you have suffered through this incident.">?</span>
          <input type="text" class="form-control" id="total_amount" placeholder="₹0" value="<%= user.total_amount %>" name="total_amount">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group">
          <label for="complaint_details">Complaint details:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Briefly describe what happened and how you have suffered/cheated/victimized. Do not include personally identifiable information. Do not write in CAPITAL letters.">?</span>
          <textarea class="form-control" cols="25" rows="4" id="complaint_details" placeholder="**Do not include your personally identifiable information. Your complaint will be publicly shown.** Describe what happened and how you have been victimized. Include date, name of the item, location, and any other important information that explains how you suffered mentally and financially." name="complaint_details" required><%= user.complaint_details %></textarea>
        </div>
        <div class="form-group">
          <label for="attach_complaint">Attach evidence to support complaint:</label>
          <textarea id="complaintEvidence" rows="4" cols="50" placeholder="IMPORTANT: Evidence is a must.
         It is mandatory to attach evidence in your complaint. But you can attach them later by logging into your Voxya account after filing your complaint." readonly style="min-height: 130px; background-color: white; "></textarea>
        </div>
        <div class="checkbox" style="margin: left 0px; ;">
          <input type="checkbox" value="" checked><label>Agree with <a href="https://voxya.com/term-&-service" target="_blank" style="color: #aaa;text-decoration:underline;">terms & conditions</a></label>
          </div>
        
        <button type="button" class="btn btn-md btn-danger" id="nextButton" onclick="nextStep()">Next</button>
      </div>
    </div>
    <div id="error-message1"></div>
    <div class="step step2">
      <h1 style="text-align: left;">Personal Information</h1>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="full_name">Full Name:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Enter your full name as mentioned on the Aadhar card, Voter ID, etc.">?</span>
          <input type="text" class="form-control" id="full_name" placeholder="Will be used in your complaint" value="<%= user.full_name %>" name="full_name" required>
        </div>
        <div class="form-group">
          <label for="state">State:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Provide your state name so that we can share any updates on your complaint.">?</span>
          <select name="state" id="state" style="width: 100%; height: 54px;background-color: whitesmoke;" required>
            <option value="--Select--">--Select--</option>
            <option value="TamilNadu" <%= user.state === 'TamilNadu' ? 'selected' : '' %>>TamilNadu</option>
            <option value="Kerala" <%= user.state === 'Kerala' ? 'selected' : '' %>>Kerala</option>
            <option value="Goa" <%= user.state === 'Goa' ? 'selected' : '' %>>Goa</option>
            </select>
        </div>
        <div class="form-group">
          <label for="city">City:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Provide your current city.">?</span>
          <select name="city" id="city" style="width: 100%; height: 54px;background-color: whitesmoke;" required>
            <option value="--Select--">--Select--</option>
            <option value="Salem" <%= user.city === 'Salem' ? 'selected' : '' %>>Salem</option>
            <option value="Coimbatore" <%= user.city === 'Coimbatore' ? 'selected' : '' %>>Coimbatore</option>
            <option value="Chennai" <%= user.city === 'Chennai' ? 'selected' : '' %>>Chennai</option>
            <option value="cochi" <%= user.city === 'cochi' ? 'selected' : '' %>>cochi</option>
            <option value="palaght" <%= user.city === 'palaght' ? 'selected' : '' %>>palaght</option>
            <option value="trisur" <%= user.city === 'trisur' ? 'selected' : '' %>>trisur</option>
            <option value="margo" <%= user.city === 'margo' ? 'selected' : '' %>>margo</option>
            <option value="panaji" <%= user.city === 'panaji' ? 'selected' : '' %>>panaji</option>
            <option value="valpoi" <%= user.city === 'valpoi' ? 'selected' : '' %>>valpoi</option>
          </select>
        </div>
        <div class="form-group">
          <label for="zip_code">Zip Code:<span class="required-symbol">*</span></label>
          <span class="link" data-toggle="tooltip" title="Mention your zip code based on your city.">?</span>
          <input type="tel" class="form-control" id="zip_code" maxlength="6" placeholder="We may call you at this Number" value="<%= user.zip_code %>" name="zip_code" required>
        </div>
        
        <button type="button" class="btn btn-md btn-info" id="backButton" onclick="moveBack()" style="position: absolute;">Back</button>
        <button type="button" class="btn btn-md btn-danger" id="validateButton" onclick="validateForm()">Update</button>
        <div id="error-message2"></div>
      </div>
    </div>
  </div>
  </form>
  <div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="addCompanyModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addCompanyModalLabel">Add Company</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="get_company">New Company Name:</label>
            <input type="text" class="form-control" id="get_company" placeholder="Enter company name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="addCompany" onclick="addCompany()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  <script>
    $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    const steps = $('.step');
    var next = $('.step-item');
    let currentStep = 0;

      function nextStep() {
        currentStep = 0;
        if (currentStep === 0) {
     
            if ($("#title_of_complaint").val() === "") {
              $("#error-message1").text("Please fill title of complaint field");
              return;
            } else if ($("#title_of_complaint").val().length < 3 || $("#title_of_complaint").val().length > 10) {
              $("#error-message1").text("Title of complaint should have a minimum length of 3 characters and a maximum length of 10 characters");
              return;
            }

            if ($("#choose_company").val() === "") {
              $("#error-message1").text("Please fill choose company field");
              return;
            } else if ($("#choose_company").val().length < 3 || $("#choose_company").val().length > 45) {
              $("#error-message1").text("Choose company should have a minimum length of 3 characters and a maximum length of 45 characters");
              return;
            }

            if ($("#total_amount").val().length > 9) {
                $("#error-message1").text("Amount should only contain maximum of 9 digits");
                return;
                }
                var amount = $("#total_amount").val();
                var amountRenge = /^\d+$/;
                if (!amountRenge.test(amount)) {
                  $("#error-message1").text("Amount should only contain digits");
                  return;
                }

            if ($("#complaint_details").val() === "") {
              $("#error-message1").text("Please fill complaint details field");
              return;
            } else if ($("#complaint_details").val().length > 60) {
              $("#error-message1").text("Complaint details should not exceed 60 characters");
              return;
            }

            if (!$('input[type="checkbox"]').is(':checked')) {
              $("#error-message1").text("Please agree to the terms and conditions");
              return;
            } else {
              $("#error-message1").text("");
            }
          }

      currentStep++;
      next.eq(currentStep).removeClass('disabled').addClass('enabled');
      next.eq(currentStep - 1).removeClass('enabled').addClass('disabled');
      steps.eq(currentStep - 1).removeClass('active');
      steps.eq(currentStep).addClass('active');
      }
    
    $('.step-item.step1').click(function() {
    if(currentStep == 1){
    steps.eq(currentStep).removeClass('active');
    steps.eq(0).addClass('active');
    next.eq(currentStep).removeClass('enabled').addClass('disabled');
    next.eq(currentStep - 1).removeClass('disabled').addClass('enabled');
     }
    });
  
    $('.step-item.step2').click(function() {
    currentStep = 0;
    nextStep();
    });

    function moveBack() {
      if(currentStep == 1) {
       steps.eq(currentStep).removeClass('active');
       steps.eq(0).addClass('active');
       next.eq(currentStep).removeClass('enabled').addClass('disabled');
       next.eq(currentStep - 1).removeClass('disabled').addClass('enabled');
      }
    }

    function validateForm() {
      if (currentStep === 1) {
        if ($("#full_name").val() === "") {
          $("#error-message2").text("Please fill your full name");
          event.preventDefault();
          return;
        } else {
        const fullName = $("#full_name").val();
        if (fullName.length < 3 || fullName.length > 10) {
          $("#error-message2").text("Full name should have a minimum length of 3 characters and a maximum length of 10 characters");
          event.preventDefault();
          return;
        }
        if (/\d/.test(fullName)) {
          $("#error-message2").text("Full name should not contain digits");
          event.preventDefault();
          return;
          }
        }

        if ($("#state").val() === "--Select--") {
          $("#error-message2").text("Please choose your state");
           event.preventDefault();
           return;
        }
        if ($("#city").val() === "--Select--") {
          $("#error-message2").text("Please choose your city");
          event.preventDefault();
          return;
        }
        var zipCode = $("#zip_code").val();
        var zipCodePattern = /^\d{6}$/;
        if (!zipCodePattern.test(zipCode)) {
          $("#error-message2").text("Please enter a 6-digit zip code without characters.");
          event.preventDefault();
          return;
        }
      $.ajax({
        url: "/update/" + $("#id").val(), // Include the user ID in the URL
        type: "PUT",
      data: {
        id: $("#id").val(),
        title_of_complaint: $("#title_of_complaint").val(),
        choose_company: $("#choose_company").val(),
        total_amount: $("#total_amount").val(),
        complaint_details: $("#complaint_details").val(),
        full_name: $("#full_name").val(),
        state: $("#state").val(),
        city: $("#city").val(),
        zip_code: $("#zip_code").val()
        },
        success: function (response) {
        console.log("Form data submitted successfully");
        window.location.href = "/";
        
        },
        error: function (error) {
        
        console.error("Error submitting form data:", error);
        }
      });
    }
    }

    function addCompany() {
      var getCompany = $("#get_company").val();
      if (getCompany !== "") {
        $("#addCompanyModal").modal("hide");
        $("#choose_company").val(getCompany);
        }
    }

    $("#addCompanyModal").on("hidden.bs.modal", function() {
    $("#get_company").val("");
    });

    $('#state').on('change', function() {
      var selectState = $(this).val();
      var cityOption = [];
      if (selectState === "TamilNadu") {
        cityOption = ["--Select--","Salem", "Coimbatore", "Chennai"];
      } else if (selectState === "Kerala") {
       cityOption = ["--Select--","cochi", "palaght", "trisur"];
      } else if (selectState === "Goa") {
        cityOption = ["--Select--","margo", "panaji", "valpoi"];
      }

       var string2 = "";
       for (var i = 0; i < cityOption.length; i++) {
          var selected = (cityOption[i] === $("#city").val()) ? "selected" : ""; // Check if the option should be selected
          string2 += "<option value='" + cityOption[i] + "' " + selected + ">" + cityOption[i] + "</option>";
        }
      $("#city").html(string2);
        console.log(cityOption);
     });

  
    $('#nextButton').click(nextStep);
    $('#addCompany').click(addCompany);
    $('#validateButton').click(validateForm);
    $('#backButton').click(moveBack);

    $('input#choose_company').typeahead({
      source: function(query, process) {
        return $.get('/getCompany', { query: query }, function(data) {
         console.log(data);
         return process(data);
          });
        }
    });
    }); 
  </script>
  </body>
</html>
