<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Complaint Details</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
    #loadingMessage{
      position: absolute;
      background-color: rgba(158, 235, 108, 0.199);
      text-align: center;
      color: black;
      margin-left: 32%;
      font-size: x-large;
      width: 30%;
    }
    </style>
    <body>
      <div class="container" style="width: 100%;">
        <h2><%= title %></h2>
        <div id="loadingMessage"></div>
        <a href="/add" class="btn btn-sm btn-info">ADD</a></br></br> 
        <table id="infoTable" class="table table-bordered table-hover">
          <thead style="background-color:rgb(204, 194, 175);">
            <tr>  
              <td><input type="checkbox" name="selectAll[]" id="selectAllCheckbox"></td>
              <th>Complaint</th>
              <th>Company/Brand</th>
              <th>Total amount</th>
              <th>Complaint details</th>
              <th>Full Name</th>
              <th>State</th>
              <th>City</th>
              <th>Zip Code</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% complaint_list.forEach(function(user){ %>
            <tr>
              <td><input type="checkbox" name="selectedIds[]" value="<%= user.id %>" class="selectCheckbox"></td>
              <td><%= user.title_of_complaint %></td>
              <td><%= user.choose_company %></td>
              <td><%= user.total_amount %></td>
              <td><%= user.complaint_details %></td>
              <td><%= user.full_name %></td>
              <td><%= user.state %></td>
              <td><%= user.city %></td>
              <td><%= user.zip_code %></td>
              <td>
                <a href="edit/<%= user.id %>" class="btn btn-sm btn-primary">Edit</a>
                <a href="delete/<%= user.id %>" class="btn btn-sm btn-danger delete-btn" data-userid="<%= user.id %>">Delete</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
      <script>
        $(document).ready(function () {
          $('#infoTable').DataTable({
            dom: 'lBfrtip',
            buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print',
              {
                text: 'Delete',
                className: 'btn-danger delete-btn',
                action: function () {
                  var selectedIds = [];
                  $('.selectCheckbox:checked').each(function () {
                  selectedIds.push($(this).val());
                  });
                 if (selectedIds.length > 0) {
                  if (confirm("Are you sure you want to delete the selected case details?")) {
                  $.ajax({
                    url: '/deleteSelected',
                    type: 'POST',
                    data: { ids: selectedIds },
                    success: function (response) {
                      $('#loadingMessage').text('Selected Case details delete...');            
                      setTimeout(function () {
                        $('#loadingMessage').hide();
                        location.reload();
                      }, 1000);
                    },
                    error: function (xhr, status, error) {
                      console.log('Delete failed:', error);
                    }
                  });
                }
                  } else {
                    alert("Please select rows to delete.");
                  }
                }
              }
            ],
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
          });
        });

        $(document).ready(function() {
          $('#infoTable').on('click', '.delete-btn', function(event) {
            event.preventDefault(); 
            var userId = $(this).data('userid');
            var result = confirm("Are you sure you want to mark this user deleted?");
            if (result) {
              $('#loadingMessage').text('Case datails deleted...');
              setTimeout(function() {
                $.get('/delete/' + userId, function() {
                  $('#loadingMessage').hide();
                  location.reload();
                });
              }, 1000); 
            }
          });
        });

        $(document).ready(function() {
          const $selectAllCheckbox = $('#selectAllCheckbox');
          const $checkboxes = $('.selectCheckbox');
          const $iconBar = $('.icon-bar');
  
          $selectAllCheckbox.on('change', function() {
            $checkboxes.prop('checked', $selectAllCheckbox.prop('checked'));
            $iconBar.toggle($selectAllCheckbox.prop('checked'));
          });

          $checkboxes.on('change', function() {
            $iconBar.toggle($checkboxes.is(':checked'));
          });
        });
      </script>
    </body>
  </html>
 