<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Complaint Details</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
      .dt-buttons {
        display: none;
        position: absolute;
        margin-left: 150px;
      }
    </style>
    <body>
      <div class="container" style="width: 100%;">
        <h2><%= title %></h2>
        <div id="loadingMessage"></div>
        <a href="/add" class="btn btn-sm btn-info">ADD</a></br></br> 
        <table id="infoTable" class="table table-bordered table-hover">
          <thead style="background-color:rgb(204, 194, 175);">
            <tr>  
              <td><input type="checkbox" name="selectAll[]" id="selectAllCheckbox"></td>
              <th>Complaint</th>
              <th>Company/Brand</th>
              <th>Total amount</th>
              <th>Complaint details</th>
              <th>complaint Evidence</th>
              <th>Full Name</th>
              <th>State</th>
              <th>City</th>
              <th>Zip Code</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% complaint_list.forEach(function(user){ %>
            <tr>
              <td><input type="checkbox" name="selectedIds[]" value="<%= user.id %>" class="selectCheckbox"></td>
              <td><%= user.title_of_complaint %></td>
              <td><%= user.choose_company %></td>
              <td><%= user.total_amount %></td>
              <td><%= user.complaint_details %></td>
              <td>
                <% if (user.complaintEvidence) { %>
                  <a href="<%= user.complaintEvidence %>"aria-hidden="true" download><%= user.document_name %></a>
                <% } %>
              </td>
              <td><%= user.full_name %></td>
              <td><%= user.state %></td>
              <td><%= user.city %></td>
              <td><%= user.zip_code %></td>
              <td>
                <a href="edit/<%= user.id %>" class="btn btn-sm btn-primary">Edit</a>
                <a href="delete/<%= user.id %>" class="btn btn-sm btn-danger delete-btn" data-userid="<%= user.id %>">Delete</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p id="messageText"></p>
            </div>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
      <script>  
        $(document).ready(function () {
          $("#selectAllCheckbox").change(function () {
            $(".selectCheckbox").prop("checked", $(this).prop("checked"));
            toggleButtonsVisibility();
          });
          $(".selectCheckbox").change(function () {
            if (!$(this).prop("checked")) {
              $("#selectAllCheckbox").prop("checked", false);
              toggleButtonsVisibility();
            } else {
              if ($(".selectCheckbox:checked").length === $(".selectCheckbox").length) {
                $("#selectAllCheckbox").prop("checked", true);
              }
                toggleButtonsVisibility();
              }
          });

          function toggleButtonsVisibility() {
            if ($(".selectCheckbox:checked").length > 0) {
              $(".dt-buttons").show();
            } else {
              $(".dt-buttons").hide();
            }
          }

          var exportOptions = {
            rows: function (idx, data, node) {
            var anyCheckboxSelected = $('.selectCheckbox:checked').length > 0;
            var lengthMenuValue = $('#infoTable').DataTable().page.len();
              return $(node).find('.selectCheckbox').prop('checked');
            },
            columns: ':not(:first-child, :last-child)'
          };
          $('#infoTable').DataTable({
            dom: 'lBfrtip',
            buttons: [
              {
                extend: 'copy',
                exportOptions: exportOptions
              },
              {
                extend: 'csv',
                exportOptions: exportOptions
              },
              {
                extend: 'excel',
                exportOptions: exportOptions
              },
              {
                extend: 'pdf',
                exportOptions: exportOptions
              },
              {
                extend: 'print',
                exportOptions: exportOptions
              },
              {
                text: 'Delete',
                className: 'btn-danger delete-btn',
                action: function () {
                  var selectedIds = [];
                  $('.selectCheckbox:checked').each(function () {
                  selectedIds.push($(this).val());
                  });
                 if (selectedIds.length > 0) {
                  if (confirm("Are you sure you want to delete the selected case details?")) {
                  $.ajax({
                    url: '/deleteSelected',
                    type: 'POST',
                    data: { ids: selectedIds },
                    success: function (response) {
                      $('#messageText').text('Successfully delete selected details...');
                      $('#messageModal').modal('show');            
                      setTimeout(function () {
                        $('#messageModal').modal('hide');
                        location.reload();
                      }, 1000);
                    },
                    error: function (xhr, status, error) {
                      console.log('Delete failed:', error);
                    }
                  });
                }
                  } else {
                    alert("Please select rows to delete.");
                  }
                }
              }
            ],
            columnDefs: [
              { targets: 0, orderable: false } // Disable sorting for the first column (index 0)
            ],
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
          });
        });

        $(document).ready(function() {
          $('#infoTable').on('click', '.delete-btn', function(event) {
            event.preventDefault(); 
            var userId = $(this).data('userid');
            var result = confirm("Are you sure you want to mark this case deleted?");
            if (result) {
              $('#messageText').text('Successfully delete case details...');
              $('#messageModal').modal('show');
              setTimeout(function() {
                $.get('/delete/' + userId, function() {
                  $('#messageModal').modal('hide');
                  location.reload();
                });
              }, 2000); 
            }
          });
        });
      </script>
    </body>
  </html>
 